:root {
  --accent-color: #ffb800;
  --main-color: #000;
  --alt-color: #fff;
  --secondary-color: #929292;
  --btn-gradient: linear-gradient(
    0deg,
    #130999 -0.01%,
    #174d8f 35.01%,
    #1a7f87 64.91%,
    #1c9e83 87.44%,
    #1daa81 99.99%
  );
  --card-bg: #f3f5f6;
  --price-shadow: 0px 0px 4px 0px #00000040;
  --accent-font: "Bebas Neue";
  --main-font: "Roboto", "sans-serif";
  --prompt-btn: #3683f7;
  --ribbon-color: linear-gradient(
    134.49deg,
    #f40106 19%,
    #ff3131 35%,
    #e40210 34.1%,
    #7b0022 37.73%,
    #ff0000 54.13%,
    #ff0505 59.57%,
    #ff1313 68.5%,
    #ff2b2b 73.13%,
    #ff3131 75.5%,
    #f40106 92.58%
  );
}
