@import "./keyframes";
@import "./variables";
@import "./base";

h1 {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
}

h1,
.price__amount {
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.main__container {
  padding-top: 65px;
  padding-bottom: 85px;
  min-height: calc(100vh - 50px - 70px);
}

.offer__card {
  position: relative;
  background-color: var(--card-bg);
  height: 220px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.price__container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 240px;
  box-shadow: var(--price-shadow);
  padding: 15px;
  background-color: var(--alt-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.price__best {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  font-weight: 500;
  padding: 5px 10px;
  font-size: 12px;
}
.price_discount {
  position: relative;
  height: 100px;
  width: 240px;
  top: 50px;
  left: 50%;
  margin-left: -100px;
}
.price__ribbon {
  background: transparent;
  height: 100px;
  width: 240px;
  position: absolute;
  top: -40px;
  right: 40px;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    width: 50px;
    height: 10px;
    position: absolute;
    left: 86px;
  }

  &:after {
    content: "";
    display: block;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 85px;
  }

  & .ribbon {
    width: 240px;
    height: 50px;
    position: relative;
    top: 30px;
    left: -50px;
    z-index: 1;
    overflow: hidden;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -moz-transform: rotate(-45deg); /* Firefox */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -o-transform: rotate(-45deg); /* Opera */
    box-shadow: inset 0px 0px 0px 3px var(--ribbon-color),
      inset 0px 0px 0px 4px rgba(0, 0, 0, 0.5),
      inset 0px 0px 0px 5px rgba(255, 255, 255, 0.4),
      0px 21px 5px -18px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0px 0px 0px 3px var(--ribbon-color),
      inset 0px 0px 0px 4px rgba(0, 0, 0, 0.5),
      inset 0px 0px 0px 5px rgba(255, 255, 255, 0.4),
      0px 21px 5px -18px rgba(0, 0, 0, 0.8);
    background: var(--ribbon-color);
  }
}
.price_discount-amount {
  color: #000;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: rotate(-45deg);
}

.price__original {
  color: var(--secondary-color);
  text-decoration: line-through;
}

.price__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description__container {
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
}

.description__license {
  font-weight: 700;
}
.offer__download {
  background: var(--btn-gradient);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 190px;
  padding-left: 35px;
  padding-right: 10px;
  & span {
    margin-right: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--alt-color);
  }
}

.arrow {
  display: none;
  position: absolute;
  z-index: 5;
  width: 160px;
  height: 205px;
  background-color: var(--prompt-btn);
  clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 100%, 0 34%);
  animation: jumping 2000ms infinite;
  top: 30px;
  left: 10px;
}

.arrow__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--alt-color);
  font-size: 12px;
  text-align: center;
  top: 50px;
  left: 50%;
  right: 50%;

  & .arrow__open {
    font-family: var(--accent-font);
    font-size: 72px;
  }
}

@media screen and (max-width: 767.99px) {
  .offers .offer__card:not(:last-child) {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .main__container {
    min-height: calc(100vh - 50px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .offer__card {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1024px) {
}

.loader {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  & .box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: var(--alt-color);
    box-shadow: var(--price-shadow);
    animation: colorChange 5s infinite, rotate 5s infinite linear;
  }
}
