@import "./variables";
@import "./keyframes";
@import "./base";

.main__container {
  padding-top: 115px;
  padding-bottom: 85px;
  min-height: calc(100vh - 50px - 70px);
}

.arrow {
  display: none;
  position: absolute;
  filter: drop-shadow(var(--arrow-shadow));
  z-index: 5;
}

.arrow__wrapper {
  width: 160px;
  height: 205px;
  animation: jumping 2000ms infinite;
  background-color: var(--prompt-btn-bg);
  clip-path: var(--arrow-polygon);

  &.rotate-180 {
    clip-path: var(--arrow-polygon-180);

    & .arrow__text {
      bottom: 50px;
      top: 0;
    }
  }
}

.arrow__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--alt-color);
  font-size: 12px;
  text-align: center;
  top: 50px;
  left: 50%;
  right: 50%;

  & .arrow__text-main {
    font-family: var(--accent-font);
    font-size: 72px;
  }
}

.loader {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  & .loader__box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: var(--alt-color);
    box-shadow: var(--price-shadow);
    animation: colorChange 5s infinite, rotate 5s infinite linear;
  }
}

.brand-name {
  color: var(--accent-color);
}

.thank-you__heading {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-bottom: 75px;
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.offers__card {
  position: relative;
  background-color: var(--card-bg);
  height: 220px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 360px;
  min-width: 300px;
}

.download {
  background: var(--btn-gradient);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 190px;
  padding-left: 35px;
  padding-right: 10px;
  transition: all 450ms linear;

  & .download__text {
    margin-right: 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--alt-color);
  }

  &:hover {
    background: var(--accent-color);
    box-shadow: var(--price-shadow);
    transition: all 450ms linear;

    & * {
      color: var(--main-color);
    }
  }
}

.price {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 240px;
  box-shadow: var(--price-shadow);
  padding: 15px;
  background-color: var(--alt-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__best {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  font-weight: 500;
  padding: 5px 10px;
  font-size: 12px;
}

.price__discount {
  width: 240px;
  position: absolute;

  & .price__discount-text {
    width: 240px;
    height: 47px;
    position: relative;
    top: 11px;
    left: -88px;
    z-index: 1;
    overflow: hidden;
    transform: var(--rotate-45);
    -ms-transform: var(--rotate-45); /* IE 9 */
    -moz-transform: var(--rotate-45); /* Firefox */
    -webkit-transform: var(--rotate-45); /* Safari and Chrome */
    -o-transform: var(--rotate-45); /* Opera */
    background: var(--ribbon-color);

    & .price__discount-amount {
      color: #fff;
      position: absolute;
      top: 0;
      left: 45%;
      z-index: 5;
      font-weight: 500;
      font-family: var(--accent-font);
      font-size: 28px;
    }

    & .price__discount-off {
      color: var(--alt-color);
      position: absolute;
      top: 28px;
      left: 46%;
      z-index: 5;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

.price__discount-ribbon {
  display: block;
  background: transparent;
  height: 105px;
  width: 105px;
  position: relative;
  top: 50px;
  left: 50%;
  margin-left: -100px;

  & .price__discount-ribbon-wrapper {
    background: transparent;
    height: 105px;
    width: 110px;
    position: absolute;
    top: -59px;
    left: -31px;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 19px;

    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 12px;
      position: absolute;
      right: -19px;
      top: -1px;
      background: var(--ribbon-color);
    }
    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 44px;
      position: absolute;
      right: 100px;
      top: 81px;
      background: var(--ribbon-color);
    }
  }
}

.price__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price__main-amount {
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.price__main-original {
  color: var(--secondary-color);
  text-decoration: line-through;
}

.description {
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
}

.description__license {
  font-weight: 700;
}

@media screen and (max-width: 767.99px) {
  .offers .offers__card:not(:last-child) {
    margin-bottom: 100px;
  }

  .offers__card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .offers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .offers .offers__card:not(:last-child) {
    margin-bottom: 50px;
  }
}
